@using theWall.Models
@using theWall.Factory
@model IEnumerable<theWall.Models.Message>

<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <title>The Wall</title>
         <link rel="stylesheet" href="Content/style.css"/>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <h3>CodingDojo Wall</h3>
                <p>Welcome @ViewBag.name</p>
                <a href="/logoff">Log off</a>
            </div>

            <div class="content">
                <div id="new_message">
                    <h4>Post a message</h4>
                    <form action="/new-message" method="post">
                        <input type="hidden" name="user_id" value="@ViewBag.user_id">
                        <textarea name="message" id="" cols="60" rows="10"></textarea>
                        <input type="submit" value="Post a message">
                    </form>
                </div>

                @{
                    var UR = new UserRepository();
                }
                <div id="messages">
                    @foreach(var message in Model){
                        <div class="message">
                            @{
                                User messager = UR.FindByID(message.user_id);
                            }
                            @messager.first_name - @Html.DisplayFor(modelItem => message.updated_at)
                            @if(messager.id == ViewBag.user_id){
                                <a href="/delete-message/@message.id/">Delete Message</a>
                            }
                            <br>
                            @Html.DisplayFor(modelItem => message.message)
                            @foreach(var comment in ViewBag.comments){
                                @if(comment.message_id == message.id){
                                    <div class="comment">
                                        @{
                                            User commenter = UR.FindByID(comment.user_id);
                                        }
                                        @commenter.first_name - @comment.updated_at
                                        @if(commenter.id == ViewBag.user_id){
                                            <a href="/delete-comment/@comment.id/">Delete Comment</a>
                                        }
                                        <br>
                                        @comment.comment
                                    </div>
                                }
                            }
                            <div class="new_comment">
                                <h5>Post a Comment</h5>
                                <form action="/new-comment" method="post">
                                    <input type="hidden" name="message_id" value="@message.id">
                                    <input type="hidden" name="user_id" value="@ViewBag.user_id">
                                    <textarea name="comment" id="" cols="55" rows="10"></textarea>
                                    <input type="submit" value="Post a comment">
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </body>
</html>
